[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/themes/hugoplate"]
	path = themes/themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate.git
